.DS{
    font-size: 18px;
}

/*BlakOpsOne*/
@font-face {
font-family:BlackOpsOne;
src: url(Font-family/BlackOpsOne.ttf);
}

/*Arial-black*/
@font-face {
font-family:Arial-black;
src: url(Font-family/Arial\ Black.ttf);
}

/*FireCode*/
@font-face {
font-family:FireCode;
src: url(Font-family/Firecode-fonts/FireCode.ttf);
}
@font-face {
font-family:FireCode-Bold;
src: url(Font-family/Firecode-fonts/FiraCode-Bold.ttf);
}
@font-face {
font-family:FireCode-Light;
src: url(Font-family/Firecode-fonts/FiraCode-Light.ttf);
}
@font-face {
font-family:FireCode-Medium;
src: url(Font-family/Firecode-fonts/FiraCode-Medium.ttf);
}
@font-face {
font-family:FireCode-Regular;
src: url(Font-family/Firecode-fonts/FiraCode-Regular.ttf);
}
@font-face {
font-family:FireCode-SemiBold;
src: url(Font-family/Firecode-fonts/FiraCode-SemiBold.ttf);
}

/*DS-DIGI*/
@font-face {
font-family: DS-DIGI;
src: url(Font-family/DS-Digital/DS-DIGI.TTF);
}
@font-face {
font-family: DS-DIGIB;
src: url(Font-family/DS-Digital/DS-DIGIB.TTF);
}
@font-face {
font-family: DS-DIGII;
src: url(Font-family/DS-Digital/DS-DIGII.TTF);
}
@font-face {
font-family: DS-DIGIT;
src: url(Font-family/DS-Digital/DS-DIGIT.TTF);
}

/*FixedSys*/
@font-face {
    font-family: FixedSys;
    src: url(Font-family/FixedSys.ttf);
}

/*ModernDOS*/
@font-face {
    font-family: ModernDOS8x8;
    src: url(Font-family/ModernDOS/ModernDOS8x8.ttf);
}

@font-face {
    font-family: ModernDOS8x14;
    src: url(Font-family/ModernDOS/ModernDOS8x14.ttf);
}

@font-face {
    font-family: ModernDOS8x16;
    src: url(Font-family/ModernDOS/ModernDOS8x16.ttf);
}

@font-face {
    font-family: ModernDOS9x14;
    src: url(Font-family/ModernDOS/ModernDOS9x14.ttf);
}

@font-face {
    font-family: ModernDOS9x16;
    src: url(Font-family/ModernDOS/ModernDOS9x16.ttf);
}